<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>FD</title>
</head>
<body style="font-family: Tahoma; font-size: 13px;">
    <table cellpadding="2" cellspacing="2" width="600" style="border: 1px solid #4696d3;">
        <tr>
            <td colspan="4" align="left" style="border-bottom: 1px solid #4696d3; ">

                <img src="http://FDclothing.com/img/logo.jpg" alt=""
                     title="Enquiry" width="181" height="83" />
            </td>
        </tr>
        <tr>
            <td colspan="2" align="left" style='background-color: #4B6C9E;color:#fff;height:25px;'><strong>Enquiry:</strong> </td>
        </tr>
        <tr>
            <td align="left" colspan="2">
                 
                <br />
                <br />
                Enquiry detail:
                <br />
                <br />
            </td>
        </tr>
        <tr>
            <td align='left' style='width:100px;'><strong>Name</strong></td>
            <td align='left'>@name</td>
        </tr>
        <tr>
            <td align='left' style='width:100px;'><strong>Name</strong></td>
            <td align='left'>@email</td>
        </tr>
        <tr>
            <td align='left' style='width:100px;'><strong>Name</strong></td>
            <td align='left'>@mobile</td>
        </tr>
        <tr>
            <td align='left' style='width:100px;'><strong>Name</strong></td>
            <td align='left'>@message</td>
        </tr>
        <tr>
            <td align="left" colspan="4" style="border-top: 1px solid #4696d3;">
                Thank you,
                <br />
                <a href="http://fdclothing.com/" style="color: Black;" target="_blank" title="FD Clothing">
                    enquiry.fdclothing.in
                </a>
            </td>
        </tr>
    </table>
</body>
</html>
