<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>FD CLOTHING</title>
</head>
<body style="font-family: Tahoma; font-size: 13px;">
    <table cellpadding="2" cellspacing="2" width="600" style="border: 1px solid #4696d3;">
        <tr>
            <td colspan="4" align="left" style="border-bottom: 1px solid #4696d3; ">

                <img src="http://fdclothing.in/Img/logo.jpg" alt=""
                     title="Enquiry" width="181" height="83" />
            </td>
        </tr>
        <tr>
            <td colspan="2" align="left" style='background-color: #4B6C9E;color:#fff;height:25px;'><strong>Reset Password:</strong> </td>
        </tr>
        <tr>
            <td align="left" colspan="2">
                Dear <b>User</b>,
                <br />
                <br />
               
                <br />
                <br />
            </td>
        </tr>
        <tr>
            <td colspan="2">@@link@@ </td>
        </tr>
        <tr>
            <td align="left" colspan="4" style="border-top: 1px solid #4696d3;">
                Thank you,
                <br />
                <a href="http://fdclothing.in/" style="color: Black;" target="_blank" title="FD CLOTHING">
                    @@sitename@@
                </a>
            </td>
        </tr>
    </table>
</body>
</html>
