<table align="center" width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody>
        <tr>
            <td align="left" valign="top" style="padding: 20px 0 70px 0;">               
                <img alt="logo" src="http://www.accountingonweb.com/images/Indusmarty2_s1.jpg" style="height:100px;width:400px"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong> Accounting On Web</strong>
            </td>
        </tr>
        <tr>

            <td   align="left" style='background-color: #4B6C9E;color:#fff;height:25px;'><strong>Registration Detail:</strong> </td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td align="left" valign="top" style="padding-bottom: 24px; font-family: Arial, Helvetica, sans-serif;
                font-size: 12px;">
                <b>Dear, User</b>
            </td>
        </tr>
        <tr>
            <td align="left" valign="top" style="padding-bottom: 24px; font-family: Arial, Helvetica, sans-serif;
                font-size: 12px;">
                <b>
                    Welcome to @@sitename@@ and thank you for your registration with @@sitename@@.
                    To begin using your account, please do activate the account by clicking on the link
                    below. Alternatively, if the link fails to load upon clicking, you could copy and
                    paste the link in your web browser.
                </b>
            </td>
        </tr>
        <tr>
            <td align="left" valign="top" style="padding-bottom: 24px; font-family: Arial, Helvetica, sans-serif;
                font-size: 12px;">
                <b>@@activationlink@@</b>
            </td>
        </tr>
        <tr>
            <td align="left" valign="top" style="padding-bottom: 24px; font-family: Arial, Helvetica, sans-serif;
                font-size: 12px;">
                <b>Please find below your account log in details for your kind attention.</b>
            </td>
        </tr>
        <tr>
            <td align="left" valign="top" style="padding-bottom: 20px; font-family: 'Times New Roman', Times, serif;
                font-size: 12px; font-weight: bold;">
                <em>Email ID</em> : @@emailid@@
            </td>
        </tr>
        <tr>
            <td align="left" valign="top" style="padding-bottom: 20px; font-family: 'Times New Roman', Times, serif;
                font-size: 12px; font-weight: bold;">
                <em>Password</em> : @@accountcreated@@
            </td>
        </tr>

        <tr>
            <td align="left" valign="top" style="padding-bottom: 24px; font-family: Arial, Helvetica, sans-serif;
                font-size: 12px;">
                <b>
                    From,<br />
                    Admin
                    <br />
                    @@sitename@@
                </b>
            </td>
        </tr>
    </tbody>
</table>


 
